.authNavContainer {
    text-transform: uppercase ;
    font-size: 30px;
    font-weight: 800;
    font-style: inherit;
    display: flex;
    gap: 30px;
    font-style: inherit;
}

.link {
    text-decoration: none;
    color: rgb(153 102, 0);
}