.contact_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    list-style: none;
    align-items: center;
}

.contact_list_item {
    margin-top: 10px;
    gap: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: rgb(204, 204, 51);
}

.contact_btn {
    border-radius: 6px;
        padding: 10px 30px;
        border: none;
        cursor: pointer;
        font-weight: 700;
        box-shadow: 5px 5px 10px black;
        background-image: radial-gradient(white, rgb(153, 0, 0), rgb(51, 0, 0));        
}

.contact_btn:hover,
.contact_btn:focus{
    background-image: radial-gradient(white, rgb(255, 0, 0), rgb(153, 0, 0));
    color: #fff;
    transform: scale(1.2);
    transition: all 250ms;
}